@inherits LayoutComponentBase
@layout ArtisanMarket.BlazorApp.Components.Layout.MainLayout

<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <FluentDivider />
    <FluentLayout>
        <FluentLayoutItem Size="3">
            <ManageNavMenu />
        </FluentLayoutItem>
        <FluentLayoutItem Size="9">
            @Body
        </FluentLayoutItem>
    </FluentLayout>
</div>
