@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <FluentAnchor href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</FluentAnchor>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <FluentAnchor href="." class="reload">Reload</FluentAnchor>
    <span class="dismiss">🗙</span>
</div>
